// menu
.menu-list {
    min-width: 22.3rem;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        border: 10px solid transparent;
        border-bottom-color: var(--white);
        top: -20px;
        right: 15px;
        z-index: 10;
    }
    .menu-item {
        margin-left: 0;
        padding: 1rem 0.8rem 1rem 1.6rem;
        width: 100%;
        justify-content: flex-start;
        height: 4.2rem;
        border-radius: 0;
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}
.menu-popper {
    padding-bottom: 0.8rem;
}

.sub-menu {
    height: 5rem;
    position: relative;
    &__icon {
        width: 5rem;
        height: 100%;
        font-size: 2rem;
        background: transparent;
    }
    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
