.wrapper {
    --search-border-92: 92px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    height: var(--default-layout-header-height);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}
.logo-link {
    display: flex;
}

.actions {
    display: flex;
    align-items: center;
}

.current-user {
    display: flex;
    align-items: center;
}
.more-btn {
    position: relative;
    font-size: 2rem;
    margin-left: 1.2rem;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
}
.action-btn {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2rem;
    color: rgba(22, 24, 35, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-left: 1.6rem;
}
.avatar {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 2.4rem;
}
